@font-face {
  font-family: "MyVerdana";
  src: url('/verdana-font-family/verdana.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "MyVerdana";
  src: url('/verdana-font-family/verdana-bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "Montserrat";
  src: url('/Montserrat-font/Montserrat-VariableFont_wght.ttf') format('truetype');
}

::-webkit-scrollbar {
  width: 8px;
  height: 8px;
  border-radius: 30px;
}
::-webkit-scrollbar-corner {
  background-color: #334c5d;
}
::-webkit-scrollbar-track {
  background-color: #334c5d;
  border-radius: 30px;
}
::-webkit-scrollbar-thumb {
  background-color: #5fa2ae;
  border-radius: 30px;
}
::-webkit-scrollbar-thumb:hover {
  background-color: #71becc;
} 

:root {
  font-family: "MyVerdana";
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #0a1c21;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}